.App {
  text-align: center;
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
}

.App-header-text {
  display: flex;
  align-items: center;
}

.App-header-img {
  height: 10vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.App-halo {
  font-size: 10vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-header-img {
    animation: 
      App-animation-appear 1s,
      App-animation-trembling 1s infinite;
  }
  .App-header, .App-footer {
    animation-name: App-animation-color;
    animation-duration: 4s;
  }

  .App-footer-text {
    animation-name: App-animation-sudden-appear;
    animation-duration: 2s;
  }
}

.App-header {
  background-color: #779ECB;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #779ECB;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 1vmin);
  color: white;
}


@keyframes App-animation-appear{
  0%{
    display: none;
    opacity: 0;
  }
  50%{
    display: none;
    opacity: 0;
  }
  80%{
    opacity: 0.5;
    display: block;
  }
  100%{
    opacity: 1;
    display: block;
  }
}

@keyframes App-animation-sudden-appear{
  0%{
    display: none;
    opacity: 0;
  }
  90%{
    display: none;
    opacity: 0;
  }
  95%{
    opacity: 0.5;
    display: block;
  }
  100%{
    opacity: 1;
    display: block;
  }
}

@keyframes App-animation-trembling {
  0%, 100% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
}

@keyframes App-animation-color{
  0%{
    background-color: #779ECB00;
  }
  10%{
    background-color: #779ECB00;
  }
  20%{
    background-color: #779ECB1c;
  }
  30%{
    background-color: #779ECB56;
  }
  40%{
    background-color: #779ECB72;
  }
  50%{
    background-color: #779ECB8e;
  }
  60%{
    background-color: #779ECBaa;
  }
  70%{
    background-color: #779ECBc6;
  }
  80%{
    background-color: #779ECBe2;
  }
  90%{
    background-color: #779ECBfe;
  }
  100%{
    background-color: #779ECB;
  }
}